html{
  --color-accent: oklch(76.59% 0.11321 235.737);
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  margin-inline: max(1em, (100% - 100ch) / 2);
  accent-color: var(--color-accent)
  
}




nav{
  
  display: flex;
  margin-bottom: 1.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* border-bottom-color: oklch(80% 3% 200); */
  ul{
    display: contents
  }

  li{
    display: contents
  }

}

nav a{
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

.current{
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(81.23% 0.09377 154.853 / 40%);
  padding-bottom: 0.2em;
}

nav a:hover{
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.2em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  
  label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    font: inherit;

  }
  button{
    grid-column: 1 / -1;

  }  

  textarea{
    font: inherit;
  }


}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: subgrid;
  gap: 1em;

  article{
    grid-row: span 3;
    h2{
      margin: 0;
      line-height: 1.1;
      text-wrap: balance;
    }
    img{
    width: 100%;
    object-fit: cover;
    }
  }

  h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    text-wrap: balance;
  }

  
}

#info{
  text-align: center;
  padding-bottom: .2em;
  line-height: 1.1;

}

section{
  h2{
    border-bottom-style: solid;
  }
  h3{
    display: flex;
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
    align-items: baseline;
    justify-content: space-between;
    
  }

  article{
    margin-bottom: 1em;
  }
  article ul{
    display: block;
    list-style-type: disc;
    padding-left: 2em;
    margin: 0;


    li{
      display: list-item;
      padding-top: 0.25em;
    }
  }

   article span{
    font-weight: normal;
    white-space: nowrap;
    margin-left: 1em;
  }

}

.color-scheme{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 80%;
    font-family: inherit;
}


#profile-stats{
  div h2{
    margin: 1em 0 0.5em;
    line-height: 1.1;
    text-wrap: balance;
  }
  dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    font-size: 24px;
  }

  dd{
    grid-row: 2;
    margin: 0;
  }
  dt{
        color: rgb(39, 37, 37);
        font-weight: bold;
  }
}

.project-description{
  .year{
    font-family: 'Baskerville', serif;
    font-variant-numeric: oldstyle-nums;
  }
}

#projects-plot{
  max-width: 20em;
  margin-block: 2em;


  overflow: visible;
}

.swatch{
  display:inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border-radius: 50%;
  align-items: center;
  gap: 1em;
  
}

.legend{
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  border-top: 1px solid;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0.5em;
  margin: 0.5em;
}

.legend-item{
  display: flex;
  gap: 0.5em;
  text-align: center;
 

}

.container{
  display: flex;
  align-items: center;
  gap: 1em;
}

&:has(path:hover){
  path:not(:hover){
    opacity: 0.5;
  }
}

path{
  transition: 300ms;
  cursor: pointer;
}

.selected{
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

#stats{
  dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    font-size: 20px;
  }

  dd{
    grid-row: 2;
    margin: 0;
  }

  dt{
    font-size: 16px;
    color: gray;
  }
}

.gridlines{
  opacity: 10%;
}

dl.info{
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 0;
  padding : 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px grey;
  border-radius: 20px;


  transition-duration: 500ms;
  transition-property: opacity, visibility;


  dt{
    grid-column: 1;
    margin: 0;
    
    font-weight: bold;
  }

  dd{
    grid-column: 2;
    margin: 0;
    padding-left: 1em;

  }
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}



.tooltip{
  position: fixed;
  top: 1em;
  left: 1em
}


circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

circle.selected{
  fill: #ff6b6b;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

.overlay{
  fill: none;
  pointer-events: all;
}

.stats{
  display: grid;
  dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    font-size: 20px;
  }

  dd{
    grid-row: 2;
    margin: 0;
  }

  dt{
    color: gray;
    font-size: 24px;
    font-weight: bold;
  }

}